<!-- <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-body">
        <div class="row" style="text-align: center;">
            <div class="col-lg-6">

                <button (click)="openAddOledCustomer()" type="button" class="btn btn-outline-primary"><i class="feather icon-thumbs-up"></i>Assign Old Customer</button>
            </div>
            <div class="col-lg-6"> 
                <button (click)="openAddNewCustomer()" type="button" class="btn btn-outline-success"><i class="feather icon-check-circle"></i>Add New Customer</button>

            </div>
        </div>

</div>