<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form" name="form" #f="ngForm" (ngSubmit)="this.Onsubmit(f)">

        <div class="form-group">
            <label for="inputState">Support Type:</label>
            <select id="inputState" class="form-control" [(ngModel)]="this.model.TypeSupport" #TypeSupport="ngModel" name="TypeSupport" required>
                <ng-container *ngFor="let item of this.listTypeSupport">
                <option value="{{item._id}}" selected>{{item.supportName}}</option>
                </ng-container>
            </select>
            <div class="invalid-feedback" *ngIf="TypeSupport.touched && TypeSupport.errors?.required" class="error">Support Type  required </div>
    
        </div>
        <div class="form-group">
            <label for="sla">Equipment Name</label>
            <input type="text" class="form-control"  placeholder="Equipment Name"  id="equipmentName" name="equipmentName" ngModel [(ngModel)]="this.model.equipmentName" #equipmentName="ngModel" required>
            <!-- <span>The SAL must be in Hour</span> -->
            <div *ngIf="equipmentName.touched && equipmentName.errors?.required" class="error">Equipment Name required</div>
        </div>
     <div class="form-group form-primary mb-0">
         <label for="sla">Start Support date:</label>
         <input type="date" class="form-control" id="startDateSupport" name="startDateSupport" ngModel
             [(ngModel)]="this.model.startDateSupport" #startDateSupport="ngModel" required />
         <span class="form-bar"></span>
         <div *ngIf="startDateSupport.touched && startDateSupport.errors?.required" class="error">Start date required</div>
         </div>
         <div class="form-group form-primary mb-0">
            <label for="sla">End Support date:</label>
            <input type="date" class="form-control" id="endDateSupport" name="endDateSupport" ngModel [(ngModel)]="this.model.endDateSupport"
                #endDateSupport="ngModel" required />
            <span class="form-bar"></span>
            <div *ngIf="endDateSupport.touched && endDateSupport.errors?.required" class="error">End date required</div>
            </div>

    <div class="form-group">
        <label for="sla">Versionr</label>
        <input type="text" class="form-control"  placeholder="Version"  id="version" name="version" ngModel [(ngModel)]="this.model.version" #version="ngModel" required>
        <!-- <span>The SAL must be in Hour</span> -->
        <div *ngIf="version.touched && version.errors?.required" class="error">Version required</div>
    </div>

    <div class="form-group">
        <label for="sla">Constructure</label>
        <input type="text" class="form-control"  placeholder="Constructure"  id="constructure" name="constructure" ngModel [(ngModel)]="this.model.constructure" #constructure="ngModel" required>
        <!-- <span>The SAL must be in Hour</span> -->
        <div *ngIf="constructure.touched && constructure.errors?.required" class="error">Constructure required</div>
    </div>

<div class="modal-footer">
    <button *ngIf="!this.add" type="submit" [disabled]="f.invalid"  class="btn btn-outline-warning">Update</button>

    <button *ngIf="this.add" type="submit" [disabled]="f.invalid" class="btn btn-outline-primary">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
</div>
</form>
</div>