<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form" name="form" #f="ngForm" (ngSubmit)="this.Onsubmit(f)">
        <span>We need your file in a specific format. To make it easier for you, we're offering a downloadable template.
            Please click the following link to access it.</span><br>
        <a (click)="downloadFile()" href="javascript:">Template Hard CSV</a><br>
        <span>After filling out the template, you need to import it into the next field.</span>
        <br><br>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="myFile" (change)="onFileSelected($event);importCSV($event)"
                accept=".csv"  name="myFile" ngModel [(ngModel)]="this.model.myFile" #myFile="ngModel" required>
            <label class="custom-file-label" id="fileInputLabel" for="myFile">{{ fileName }}</label>
            <div *ngIf="myFile.touched && myFile.errors?.required" class="error">No File Selected</div>
        </div>
        <div class="modal-footer">
            <button *ngIf="!this.add" type="submit" [disabled]="f.invalid"
                class="btn btn-outline-warning">Update</button>
            <button *ngIf="this.add" type="submit" [disabled]="f.invalid" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-outline-dark"
                (click)="activeModal.close('Close click')">Fermer</button>
        </div>
    </form>
</div>