<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form" name="form" #f="ngForm" (ngSubmit)="this.Onsubmit(f)">

    <div class="form-group">
        <label for="inputState">Type:</label>
        <select id="inputState" class="form-control" [(ngModel)]="this.model.type" #type="ngModel" name="type" required>
            <option value="SUPPORT AND MAINTENANCE HARD" selected>Support and matntenance hard</option>
            <option value="SUPPORT AND MAINTENANCE SOFT">Support and matntenance soft</option>
            <option value="SUPPORT AND MAINTENANCE SOFT AND HARD">Support and matntenance soft & hard</option>
            <option value="INFOGERANCE">Infogerance</option>
        </select>
        <div class="invalid-feedback" *ngIf="type.touched && type.errors?.required" class="error">Type required </div>
    </div>
    <div class="form-group">
        <label for="inputState">Nature:</label>
        <select id="inputState" class="form-control" [(ngModel)]="this.model.nature" #nature="ngModel" name="nature" required>
            <option value="SYSTEME" selected>Systeme</option>
            <option value="DEVELOPMENT">Development</option>
            <option value="RESEAUX">nNetwork </option>
            <option value="CYBER-SECURITY">Cyber security</option>
        </select>
        <div class="invalid-feedback" *ngIf="nature.touched && nature.errors?.required" class="error">Nature required </div>

    </div>
    <div class="form-group form-primary mb-0">
        <label for="sla">Start date:</label>
        <input type="date" class="form-control" id="startDate" name="startDate" ngModel [(ngModel)]="this.model.startDate" #startDate="ngModel" required  />
        <span class="form-bar"></span>
        <div *ngIf="startDate.touched && startDate.errors?.required" class="error">Start date required</div>
      </div>

    <div class="form-group form-primary mb-0">
        <label for="sla">End date:</label>
        <input type="date" class="form-control" id="endDate" name="endDate" ngModel [(ngModel)]="this.model.endDate" #endDate="ngModel" required  />
        <span class="form-bar"></span>
        <div *ngIf="endDate.touched && endDate.errors?.required" class="error">End date required</div>
      </div>

    <div class="form-group">
        <label for="sla">SLA:</label>
        <input type="number" class="form-control"  placeholder="SLA"  id="sla" name="sla" ngModel [(ngModel)]="this.model.sla" #sla="ngModel" required>
        <span>The SAL must be in Hour</span>
        <div *ngIf="sla.touched && sla.errors?.required" class="error">SLA required</div>
    </div>
<!-- this.model.type -->
<div *ngIf="this.model.type == 'INFOGERANCE'" class="form-group">
    <label for="sla"> Number of Days With Customer per month :</label>
    <input type="number" class="form-control"  placeholder="Number of Days With Customer per month "  id="nbrJourChesClient" name="nbrJourChesClient" ngModel [(ngModel)]="this.model.nbrJourChesClient" #nbrJourChesClient="ngModel" required>
    <div *ngIf="nbrJourChesClient.touched && nbrJourChesClient.errors?.required" class="error">Number of Days With Customer per month  required</div>
</div>
<!--  -->

<div *ngIf="this.model.type == 'INFOGERANCE'" class="form-group">
    <label for="sla"> Day :</label>
<select name="select" class="form-control form-control-default" id="jourInfogerance" name="jourInfogerance" ngModel [(ngModel)]="this.model.jourInfogerance" #jourInfogerance="ngModel" required>
    <option value="" disabled>Select One Day</option>
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday </option>
    <option value="Sunday">Sunday</option>
  </select>
  <div *ngIf="jourInfogerance.touched && jourInfogerance.errors?.required" class="error">Day required</div>

</div>
<div class="modal-footer">
    <button *ngIf="!this.add" type="submit" [disabled]="f.invalid"  class="btn btn-outline-warning">Update</button>

    <button *ngIf="this.add" type="submit" [disabled]="f.invalid" class="btn btn-outline-primary">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
</div>
</form>
</div>