<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="form" name="form" #f="ngForm" (ngSubmit)="this.Onsubmit(f)">

        <div class="form-group">
            <label for="sla">Site Name</label>
            <input type="text" class="form-control"  placeholder="Site Name"  id="nomSite" name="nomSite" ngModel [(ngModel)]="this.model.nomSite" #nomSite="ngModel" required>
            <!-- <span>The SAL must be in Hour</span> -->
            <div *ngIf="nomSite.touched && nomSite.errors?.required" class="error">Site Name required</div>
        </div>
    

    <div class="form-group">
        <label for="sla">Address</label>
        <input type="text" class="form-control"  placeholder="Address"  id="adress" name="adress" ngModel [(ngModel)]="this.model.adress" #adress="ngModel" required>
        <!-- <span>The SAL must be in Hour</span> -->
        <div *ngIf="adress.touched && adress.errors?.required" class="error">Address required</div>
    </div>


<div class="modal-footer">
    <button *ngIf="!this.add" type="submit" [disabled]="f.invalid"  class="btn btn-outline-warning">Update</button>

    <button *ngIf="this.add" type="submit" [disabled]="f.invalid" class="btn btn-outline-primary">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
</div>
</form>
</div>