<div class="auth-wrapper">
  <div class="auth-content container">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="card-body">
            <img
              src="assets/images/logo-dark.png"
              alt=""
              class="img-fluid mb-4"
            />
            <h4 class="mb-3 f-w-400">Sign up into your account</h4>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  formControlName="firstName"
                  required
                />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  formControlName="lastName"
                  required
                />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-calendar"></i>
                  </span>
                </div>
                <input
                  type="date"
                  class="form-control"
                  placeholder="Birth Date"
                  formControlName="birthDate"
                  required
                />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-mail"></i>
                  </span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email Address"
                  formControlName="email"
                  required
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-lock"></i>
                  </span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  required
                />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-shield"></i>
                  </span>
                </div>
                <select
                  class="form-control"
                  formControlName="authority"
                  required
                >
                  <option value="client">Client</option>
                  <option value="commercial">Commercial</option>
                  <option value="technician">Technician</option>
                </select>
              </div>
              <button class="btn btn-primary mb-4" type="submit">
                Sign up
              </button>
              <p class="mb-2">
                Already have an account?
                <a [routerLink]="['/login']" class="f-w-400">Log in</a>
              </p>
            </form>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <img src="assets/images/auth-bg.jpg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
